body,
html {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

body {
  font-family: 'Source Sans 3', sans-serif;
}

.top-section-wrapper {
  background-color: #001d37;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
}

.top-section {
  position: relative;
  margin: 0 auto;
  padding-top: 139px;
  padding-bottom: 139px;
  color: #fff;
  max-width: 1066px;
}

.actual-top-section {
  position: relative;
  z-index: 100;
}

.top-section h1 {
  margin: 0;
  font-size: 6.25rem;
  line-height: 97.3px;
  max-width: 595px;
}

.intro-text {
  font-size: 1.25rem;
  line-height: 169.3%;
  margin: 1rem 0;
  max-width: 435px;
}

.intro-buttons {
  margin-bottom: 129px;
}

.our-btn {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 13px 25px;
  text-decoration: none;
  border-radius: 1000px;
  background-color: #475aff;
  color: #fff;
}

.our-btn:first-child {
  border: 2px solid #475aff;
}

.utility-mr {
  margin-right: 10px;
}

.our-btn--outline {
  background-color: transparent;
  border: 2px solid #fff;
}

.intro-feature {
  border: 1px solid rgb(255, 255, 255, 0.24);
  padding: 33px 25px;
}

.intro-feature h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 31px;
  margin-bottom: 7px;
}

.intro-feature p {
  margin: 0;
  font-size: 1.0625rem;
}

.intro-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.circle-violet {
  position: absolute;
  top: 62px;
  right: -392px;
  width: 617px;
  height: 617px;
  background: #d660ff;
  opacity: 0.85;
  border-radius: 50%;
  filter: blur(150px);
}

.circle-blue {
  position: absolute;
  top: -360px;
  left: -121px;
  width: 617px;
  height: 617px;
  background: #6079ff;
  border-radius: 50%;
  filter: blur(150px);
}

.page-section {
  background-color: #fff;
  padding: 130px 16px;
}

.page-section-inner {
  max-width: 1066px;
  margin: 0 auto;
}

.page-section-title {
  margin: 0;
  font-size: 5.31rem;
  line-height: 1;
}

.pet-filter {
  color: #9f9f9f;
  font-size: 1.375rem;
}

.pet-filter button {
  background-color: transparent;
  border: none;
  font-size: 1.375rem;
  color: #9f9f9f;
  font-family: 'Source Sans 3', sans-serif;
}

.site-footer p {
  padding: 0 0 65px 0;
  margin: 0;
  color: #a6a6a6;
  font-size: 0.875rem;
  text-align: center;
}
